$font-roboto: 'Roboto', sans-serif;
$font-neue: 'Neue', sans-serif;
$color-white: #ffffff;
$color-black:#202020;
$color-darkGray:#333333;
$color-semiGrey:#cacaca;
$color-Grey:#999999;
$color-btn-hover: #FF6E30;
$color-btn-focus: #BC572B;
$color-active:#CE4307;
